<form>
  <input type="text" name="note_text" />
  <input type="text" name="note_category" />
  <button type="submit">Save Note</button>
</form>

<table>
  <tr>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Text</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="notes">

      </tbody>
    </table>
  </tr>
</table>
