<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="my_javascript.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>MY NOTES</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
